* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

section {
	height: 100vh;
	background-size: cover;
	background-position: center;
}

#section1 {
	background-image: url('photos/ALI oznamko web_.jpg');
}

#section2 {
	background-image: url('photos/ALI oznamko web_empty.jpg');
}

#section3 {
	background-image: url('photos/ALI oznamko web_3.jpg');
}

#section4 {
	background-image: url('photos/ALI oznamko web_4.jpg');
}



#countdown {
	font-size: 48px;
	font-weight: bold;
	color: white;
	top: 0;
	right: 0;
	background-color: skyblue;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	section {
		height: auto;
		min-height: 100vh;
	}
	#section1 {
	background-image: url('photos/ALI_oznamko web_mobile.jpg');
}

#section2 {
	background-image: url('photos/ALI_oznamko web_empty_mobile.jpg');
}

#section3 {
	background-image: url('photos/ALI_oznamko web_3_mobile.jpg');
}

#section4 {
	background-image: url('photos/ALI_oznamko web_4_mobile.jpg');
}
}
